# Editor configuration, see https://editorconfig.org
root = true

[*.kt]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
ktlint_experimental = enabled
ktlint_experimental_argument-list-wrapping = disabled # Doesn't play well with Android Studio
ktlint_experimental_comment-wrapping = disabled
