<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.kanade.tachiyomi.animeextension">

    <application>
        <activity
            android:name=".pt.pifansubs.PFUrlActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="pifansubs.com"
                    android:pathPattern="/tvshows/..*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>
</manifest>
