<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.kanade.tachiyomi.extension">

    <application>
        <activity
            android:name=".all.cubari.CubariUrlActivity"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.NoDisplay">
            <!-- We need another intent filter so the /a/..* shortcut -->
            <!-- doesn't pollute the cubari one, since they work in any combination -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*cubari.moe"
                    android:pathPattern="/read/..*"
                    android:scheme="https" />

                <data
                    android:host="*cubari.moe"
                    android:pathPattern="/proxy/..*"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*guya.moe"
                    android:pathPattern="/proxy/..*"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*imgur.com"
                    android:pathPattern="/a/..*"
                    android:scheme="https" />

                <data
                    android:host="*imgur.com"
                    android:pathPattern="/gallery/..*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>
</manifest>