<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <application>
    <activity
        android:name=".MangAdventureActivity"
        android:theme="@android:style/Theme.NoDisplay"
        android:excludeFromRecents="true">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>

        <!-- MangAdventure sites can be added here. -->
        <data
            android:scheme="https"
            android:host="arc-relight.com"
            android:pathPattern="/reader/..*"/>
      </intent-filter>
    </activity>
  </application>
</manifest>
