<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
                android:name=".ManaMoaUrlActivity"
                android:theme="@android:style/Theme.NoDisplay"
                android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!-- Current domain -->
                <data
                        android:scheme="https"
                        android:host="manamoa28.net"
                        android:pathPattern="/bbs/page.php"/>
                <!-- Future domains -->
                <data
                        android:scheme="https"
                        android:host="manamoa29.net"
                        android:pathPattern="/bbs/page.php"/>
                <data
                        android:scheme="https"
                        android:host="manamoa30.net"
                        android:pathPattern="/bbs/page.php"/>
                <data
                        android:scheme="https"
                        android:host="manamoa31.net"
                        android:pathPattern="/bbs/page.php"/>
                <data
                        android:scheme="https"
                        android:host="manamoa32.net"
                        android:pathPattern="/bbs/page.php"/>

            </intent-filter>
        </activity>
    </application>
</manifest>